include config_seminar_05.pug

- var title = "Θεατρικό Εργαστήρι"

doctype html
html(lang='en')
  include includes/head.pug
  body
    .container
      .columns
        .column.has-text-centered.is-8.is-offset-2
          img(style='margin-bottom:30px;', src=header_image, alt='')
          br
          h1.title(style='color:brown;') #{seminar_topic}
          h2.subtitle(style='margin-top:10px;')
            | Ένα θεματικό εργαστήριο πυροδότησης της θεατρικής γραφής
            br
            | από τον συγγραφέα Θανάση Τριαρίδη
          h3.is-italic #{dates}
          hr
          p.is-size-5
            | Το #{seminar_num} Εργαστήριο Πυροδότησης Θεατρικής Γραφής, με θεματικό άξονα 
            span.is-italic.has-text-weight-bold #{seminar_topic}
            |  και υπό την αιγίδα των 
            a(target='_blank', href='http://www.eurasiabooks.gr/') Εκδόσεων Ευρασία
            | , ξεκίνησε στις #{dates_from} και ολοκληρώθηκε στις #{dates_to}.
            br
            | Την αρχική προκήρυξη μπορείτε να τη δείτε 
            a(href=proclamation_link_a, target='_blank') εδώ
            | .
          br
          a.button.is-black(href='introduction.html')
            span.icon
              i.fas.fa-book
            span Διαβάστε την εισαγωγή του συγγραφέα Θανάση Τριαρίδη
          hr
          br
          //- START EDITING HERE:
          p.is-size-5.has-text-left
            | Και οι #{students.length} συμμετέχοντες ολοκλήρωσαν το έργο τους εντός του Εργαστηρίου – και είναι οι εξής: η Δέσποινα Αποστολίδου, ο Δημήτρης Ασνάης, η Μαρία Αυγέρη, η Βανέσσα Βαΐτση, η Κατερίνα Καζολέα, ο Δομήνικος Κοντολέων, ο Μάνος Κουνουγάκης, η Κατερίνα Λουκίδου, ο Βαγγέλης Παπαδιόχος, η Άννα-Μαρία Πισκοπάνη, η Κατερίνα Σταθοπούλου, η Αντιγόνη Σταυροπούλου, η Ανθή Τσιρούκη, ο Γιάννης Φαρσάρης και ο Δημήτρης Φούτσιας. Από τη δουλειά τους προέκυψαν τα ακόλουθα #{students.length} θεατρικά έργα:
          //- STOP EDITING HERE:
          br
          p
          ul.is-size-5
            each val, index in students
              li
                span= val.name + ", " 
                a(href=val.link target="_blank")= val.play 
          p
          br
    include includes/footer.pug